# Passwords and Keys
.ssh/
_private
.now/

# Work In Progress
_old
*.wip
*.wip.*

# OS and IDE
.DS_Store
.idea/

# Libraries and Compiler Output
node_modules/
venv/
venv_*/
.ipynb_checkpoints/
__pycache__/
*.py[cod]
